/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 мар. 2022 г., 14:44:05
    Author     : Valentin
*/

*{
    -fx-alignment: CENTER;
}

.text-field{
   -fx-font-size: 12;
   -fx-border-color: grey;
   -fx-border-width: 2;
   -fx-border: gone;
   -fx-background-color: transparent;
   -fx-text-fill: grey;
}

.button:focused{
    -fx-background-color: black;
}

.label{
    -fx-font-size: 15;
    -fx-text-fill: blueviolet;
}

#authorization-button{
    -fx-border-color: blanchedalmond;
    -fx-text-fill: red;
    -fx-background-color: yellowgreen;
}

.note-buttoms{
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-highlight-text-fill: blue;
}



.text-area{
    -fx-background-color: red;
    -fx-text-fill: yellow;
}

.table-column{
    -fx-background-color: blue;
    -fx-text-fill: whitesmoke;
}